<!DOCTYPE html>
<h3>Risultati del questionario</h3>
<b>ID questionario: </b> {surveyID}
<br><br><br>
<center>
	<div class="gauge-container">
		<canvas id="gauge"></canvas>
		<div id="gauge-value"></div>
	</div>
	<p>Complessivamente, sei <b>{qualitative}</b> al GDPR ({mean}%)</p>
	<br><br>
	<table id="survey-table">
		<thead>
			<tr>
				<th>Categoria</th>
				<th>Risultato (%)</th>
		  	</tr>
	  	</thead>
	  	<tbody>
	  		<tr>
	  			<td>Responsabilità e Conformità</td>
	  			<td>{result_1}</td>
	  		</tr>
	  		<tr>
	  			<td>Precisione</td>
	  			<td>{result_2}</td>
	  		</tr>
	  		<tr>
	  			<td>Integrità e Riservatezza</td>
	  			<td>{result_3}</td>
	  		</tr>
	  		<tr>
	  			<td>Legalità, Equità e Trasparenza</td>
	  			<td>{result_4}</td>
	  		</tr>
	  		<tr>
	  			<td>Limitazioni delle finalità e minimizzazione dei dati</td>
	  			<td>{result_5}</td>
	  		</tr>
	  		<tr>
	  			<td>Limiti di archiviazione</td>
	  			<td>{result_6}</td>
	  		</tr>
	  	</tbody>
	</table>
	<br>
	<a href="/survey/GDPR-tools">Torna alla schermata GDPR</a>
</center>