<html>
<head>
	<%- include('../common/imports.ejs') %>
	<link href="https://unpkg.com/survey-jquery/modern.min.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="https://unpkg.com/survey-jquery"></script>
	<script type="text/javascript" src="/static/scripts/GDPR_tools.js"></script>
	<title>Strumenti GDPR</title>
</head>
<body>
	<%- include('../common/header.ejs') %>
	<br>
	<p><b>SurveyID: </b><%= surveyID %></p> 
	<div id="surveyContainer"></div>
</body>
</html>