<!DOCTYPE html>
<h3>Risultati del questionario</h3>
<b>ID questionario: </b> {surveyID}
<br><br><br>
<center>
	<div class="gauge-container">
		<canvas id="gauge"></canvas>
		<div id="gauge-value"></div>
	</div>
	<p>In totale, hai il <b>{mean}%</b> di probabilità di incorrere in un rischio cibernetico</p>
	<br><br>
	<table id="survey-table">
		<thead>
			<tr>
				<th>Categoria</th>
				<th>Rischio (%)</th>
		  	</tr>
	  	</thead>
	  	<tbody>
	  		<tr>
	  			<td>Informazioni sull'organizzazione</td>
	  			<td>{result_1}</td>
	  		</tr>
	  		<tr>
	  			<td>Informazioni sulla rete</td>
	  			<td>{result_2}</td>
	  		</tr>
	  		<tr>
	  			<td>Informazioni sulle risorse dati</td>
	  			<td>{result_3}</td>
	  		</tr>
	  		<tr>
	  			<td>Protezione informatica [Management]</td>
	  			<td>{result_4}</td>
	  		</tr>
	  		<tr>
	  			<td>Protezione informatica [Domande non techniche]</td>
	  			<td>{result_5}</td>
	  		</tr>
	  		<tr>
	  			<td>Protezione Informatica [Access control]</td>
	  			<td>{result_6}</td>
	  		</tr>
	  		<tr>
	  			<td>Protezione informatica [Domande techniche]</td>
	  			<td>{result_7}</td>
	  		</tr>
	  		<tr>
	  			<td>Attacchi</td>
	  			<td>{result_8}</td>
	  		</tr>
	  	</tbody>
	</table>
	<a href="/survey/self-assessment">Torna alla schermata Self Assessment</a>
</center>