<!DOCTYPE html>
<html>
<% if(data.status != 200) { %>
	<%- include('../common/error.ejs', {data: data}) %>
<% } else { %>
	<head>
		<%- include('../common/imports.ejs') %>
		<link rel="stylesheet" href="/static/styles/dga.css">
		<script src="/static/scripts/dga.js" type="text/javascript"></script>
		<title>DGA Detection</title>
	</head>
	<body onload="resetRadio('choice')">
		<%- include('../common/header.ejs') %>
		<div class="body-container">
			<form id="resultsForm" enctype="multipart/form-data" action="/dga-detection/result" method="POST">

				<p>Scegli il tipo di analisi da effettuare:</p>
				<input type="radio" id="url" name="choice" onchange="showOption(this)" value="domain">
				<label for="url">Dominio</label><br>
				<input type="radio" id="file" name="choice" onchange="showOption(this)" value="file">
				<label for="file">File (.txt)</label><br>

				<p>Scegli il peso degli algoritmi (la somma deve fare 1):</p>
				<div class="tooltip">
					<label for="coeff1">Primo algoritmo</label>
			  		<span class="tooltiptext">Algoritmo datato di 7 anni. Funziona bene con domini vecchi ed esegue controlli su entropia, lunghezza e origine del dominio (tor o localizzato). Insieme al terzo, funge da supporto e per eventuali correzioni del secondo.</span>
				</div>
				<input type="number" name="coeff1" id="coeff1" min="0" max="1" step="0.050" value="0.2" /><br>
				<div class="tooltip">
					<label for="coeff2">Secondo algoritmo</label>
					<span class="tooltiptext">Algoritmo che esegue moltissimi controlli. É molto affidabile, ma alle volte troppo specifico (i.e. classifica domini legit come dga)</span>
				</div>
				<input type="number" name="coeff2" id="coeff2" min="0" max="1" step="0.050" value="0.5" /><br>
				<div class="tooltip">
					<label for="coeff3">Terzo algoritmo</label>
					<span class="tooltiptext">Algoritmo che discrimina in modo affidabile domini più recenti. Insieme al primo, funge da supporto e per eventuali correzioni del secondo.</span>
				</div>
				<input type="number" name="coeff3" id="coeff3" min="0" max="1" step="0.050" value="0.3" /><br>

				<br>
				<div id="domain-container">
					<label for="url">Dominio: </label>
					<input type="text" id="domain" name="domain" />
				</div>
				<div id="file-container">
					<label for="filetoupload">File: </label>
					<input type="file" name="filetoupload" accept=".txt" onchange="readFile(this)" />
				</div>
				<br>
				<button type="submit" id="send_dga" onclick="resetDomain(event)" disabled>Invia</button>
			</form>

			<br>
			<h2>Disclaimer</h2>
			<p>Gli algoritmi non garantiscono al 100% di riconoscere se un dominio è generato usando un DGA. Pertanto alcuni risultati potrebbero essere incorretti</p>
		</div>
	</body>
<% } %>
</html>