/* ---- COMMON ---- */

html, body{
    margin:  0;
    padding: 0;
}

.body-container{
    padding: 15;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header > li, .header > div > li {
  float: left;
}

.right {
  float: right !important;
}

.header > li a, .header > div > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.header > li a:hover, .header > div > li a:hover {
    background-color: #111;
}

.inputField {
  width: 250px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.sendBtn{
  background-color: rgb(75,191,182);
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition-duration: .3s;
  margin: 20px 5px;
}

.crypted {
  display: none;
}

/* ----------- SEPARATOR --------- */


.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 30 0;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

/* -------------ALERT NOTIFICATION------------------ */

.error-container{
  width: 100%;
  height: 90%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.error{
  text-align: center !important;
}

#errorStatus{
  font-size: 50;
  font-weight: bold;
  color: #ff4d4d;
}
