/* ---- SURVEYS ---- */

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .questionnaire-container {
        width: 90% !important;
    }
}

.questionnaire-container {
	width: 80%;
	margin: 50 auto;
    text-align: left;
}

.gauge-container {
	display: flex;
	width: 300px;
	height: 150px;
	justify-content: center;
	align-items: center;
}

#gauge, #gauge-value {
	display: inline-block;
}

#gauge-value {
	position: absolute;
	font-size: 24px;
}

#survey-table {
    clear: both;
    margin-top: 6px;
    margin-bottom: 6px;
    max-width: none;
    border-collapse: separate;
    border-spacing: 0;
    width: 90%;
}

#survey-table tr:nth-child(even){background-color: #ffffff;}
#survey-table tr:nth-child(odd){background-color: #f2f2f2;}

#survey-table th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    text-align: left;
    padding: 10;
}

#survey-table td {
	padding: 5 10;
}

#chart{
	width: 70%;
	margin: 0 auto;
}

.chart-title {
	color: rgb(26, 179, 148);
	color: #303F7D;
	letter-spacing: .8px;
}

.uploadFile {
    border: 1px solid #3a4eff;
    color:  #3a4eff;
    padding: 10px 40px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

.uploadFile:hover{
    color: #0000ff;
    border-color: #0000ff;
}

#file-container {
    display: none;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    #chart{
        display: none;
    }

}