<html>
<head>
	<title>DGA Detection</title>
	<script src="/static/script.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body onload="resetRadio('choice')">
	DGA Detection Tool
	<br><br>
	<form enctype="multipart/form-data" action="/api/dga-detection" method="POST">

		<p>Scegli il tipo di analisi da effettuare</p>
		<input type="radio" id="url" name="choice" onchange="showOption(this)" value="domain">
		<label for="url">Dominio</label><br>
		<input type="radio" id="file" name="choice" onchange="showOption(this)" value="file">
		<label for="file">File (.cef, .txt)</label><br>

		<br>
		<div id="domain-container">
			<label for="url">Dominio: </label>
			<input type="text" name="domain" />
		</div>
		<div id="file-container">
			<label for="filetoupload">File: </label>
			<input type="file" name="filetoupload" accept=".cef,.txt" />
		</div>
		<br>
		<button type="submit">Invia</button>
	</form>

	<h3>Da notare: </h3>
	<ul>
		<li>se l'<b>entropia</b> > 3.8 allora probabilmente è un DGA</li>
		<li>se il numero di <b>consonanti</b> > 7 (elvato) allora probabilmente è un DGA</li>
		<li>se la <b>lunghezza del dominio</b> > 12 (elvato) allora probabilmente è un DGA</li>
</body>
</html>