<html>
<head>
	<title>Home</title>
</head>
<body>
	<h2>Cybersecurity</h2>
	<a href="/antimalware">Antimalware</a><br>
	<a href="/dga-detection">DGA Detection</a><br>
	<a href="/thesaurus">Thesaurus</a><br>
	<a href="/ontology">Ontologia</a><br>
</body>
</html>