<html>
<head>
	<%- include('common/imports.ejs') %>
	<title>Home</title>
</head>
<body>
	<%- include('common/header.ejs') %>
	<div class="body-container">
		<h2>Studio e Implementazione di Assessments per la Cybersecurity</h2>
		<br><br>
		<h3>Servizi accessibili pre-autenticazione</h3>
		<ul>
			<li>Thesaurus</li>
			<li>Ontologia</li>
		</ul>
		<br><br>
		<h3>Servizi accessibili post-autenticazione</h3>
		<ul>
			<li>Antimalware</li>
			<li>DGA Detection</li>
			<li>CVE</li>
			<li>Questionario GDPR</li>
			<li>Questionario SELF ASSESSMENT</li>
			<li>Tutti i servizi gratuiti</li>
		</ul>
	</div>
</body>
</html>