<html>
<head>
	<%- include('common/imports.ejs') %>
	<title>Login</title>
</head>
	<body>
        <%- include('common/header.ejs') %>
        <div class="body-container">
            <center>
                <h2>Login</h2>
                <input class="inputField" type="email" name="email" id="email" placeholder="Email" onkeypress="keypress(event, 'login')" required><br>
                <input class="inputField" type="password" name="password" id="password" placeholder="Password" onkeypress="keypress(event, 'login')" required><br>
    			<br>
                <button class="sendBtn" type="button" onclick="login()">Login</button>
                <br><br>
                <a href="/signin">Crea un nuovo utente</a>
            </center>
        </div>
	</body>
</html>
