<html>
<head>
	<title>Ontologia Cybersecurity</title>
	<link rel="stylesheet" href="/static/style.css">
	<style>
		html, body{
			margin: 0px;
		}
	</style>
</head>
<body>
	<iframe class="ontology" src="http://analiticheocs.iit.cnr.it:8128/"></iframe>
</body>
</html>