<!DOCTYPE html>
<html>
<head>
	<%- include('common/imports.ejs') %>
	<link rel="stylesheet" href="/static/styles/other.css">
	<title>Ontologia Cybersecurity</title>
</head>
<body>
	<%- include('common/header.ejs') %>
	<iframe class="ontology" id="ontology" src="http://analiticheocs.iit.cnr.it:8128/" frameBorder="10"></iframe>
</body>
</html>