<html>
<head>
	<%- include('common/imports.ejs') %>
	<title>Ontologia Cybersecurity</title>
	<style>
		html, body{
			margin: 0px;
		}
	</style>
</head>
<body>
	<%- include('common/header.ejs') %>
	<iframe class="ontology" src="http://analiticheocs.iit.cnr.it:8128/"></iframe>
</body>
</html>