<html>
<head>
	<%- include('common/imports.ejs') %>
	<link rel="stylesheet" href="/static/styles/other.css">
	<title>Thesaurus</title>
</head>
<body>
	<%- include('common/header.ejs') %>
	<iframe class="thesaurus" src="https://cybersecurityosservatorio.it/Services/Thesaurus/"></iframe>
</body>
</html>