<html>
<head>
	<title>Thesaurus</title>
	<link rel="stylesheet" href="/static/style.css">
	<style>
		html, body{
			margin: 0px;
		}
	</style>
</head>
<body>
	<iframe class="thesaurus" src="https://cybersecurityosservatorio.it/Services/Thesaurus/"></iframe>
</body>
</html>