<head>
  <link rel="stylesheet" href="/static/styles/common.css">
</head>
<%- include('./header.ejs') %>
<div class="error-container">
  <div class="error">
    <% if (typeof status != 'undefined') { %>
      <p id="errorStatus"><%= status %></p>
    <% } else { %>
      <p id="errorStatus"></p>
    <% } %>

    <% if (typeof message != 'undefined') { %>
      <p id="errorText"><%= message %></p>
    <% } else { %>
      <p id="errorText"></p>
    <% } %>

    <% if(status == 401) { %>
      <a href="/login">Login</a>
    <% } else { %>
      <a href="/">Return to Home</a>
    <% } %>
  </div>
</div>