<ul class="header">
  <li><a href="/">Home</a></li>
  <li><a href="/antimalware">Antimalware</a></li>
  <li><a href="/dga-detection">DGA Detection</a></li>
  <li><a href="/cve-search/cve">Monitoraggio del CVE</a></li>
  <li><a href="/survey/GDPR-tools">Strumento GDPR</a></li>
  <li><a href="/survey/self-assessment">Strumento Self Assessment</a></li>
  <li><a href="/thesaurus">Thesaurus</a></li>
  <li><a href="/ontology">Ontologia</a></li>
  <% if(!loggedUser) { %>
    <li class="right"><a href="/login">Login</a></li>
  <% } else { %>
    <li class="right"><a onclick="logout()">Logout</a></li>
    <li class="right"><a href="/profile">Profilo</a></li>
  <% } %>
</ul>