<nav class="topnav" id="topnav">
  <a href="/" class="logo">
    <img src="/static/images/logo.png" alt="Logo">
  </a>
  <a href="/antimalware">Antimalware</a>
  <a href="/dga-detection">DGA Detection</a>
  <a href="/cve-search/cve">Monitoraggio del CVE</a>
  <a href="/survey/GDPR-tools">Conformità al GDPR</a>
  <a href="/survey/self-assessment">Autovalutazione del rischio</a>
  <a href="/thesaurus">Thesaurus</a>
  <a href="/ontology">Ontologia</a>
  <% if(!loggedUser) { %>
    <a class="right" href="/login">Login</a>
  <% } else { %>
    <a class="right" onclick="logout()">Logout</a>
    <a class="right" href="/profile">Profilo</a>
  <% } %>
  <button class="icon" onclick="toggleResponsiveMenu(this)"><i class="fa fa-bars"></i></button>
</nav>
