<head>
  <link rel="stylesheet" href="/static/styles/common.css">
</head>
<%- include('./header.ejs') %>
<div class="error-container">
  <div class="error">
    <p id="errorStatus">401</p>
    <p id="errorText">You need to login to access this service</p>
    <a href="/login">Login</a>
  </div>
</div>